@import "./../../../variables.scss";

.link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.94px;

  color: #ffffff;

  position: relative;
  &:not(:last-child) {
    margin-right: 58px;
  }
  &::after {
    content: "";
    width: 18px;
    height: 2px;
    background: $color1;
    position: absolute;
    bottom: -2px;
    right: 0;

    transition: width 0.3s ease-in-out;
  }
}

.link_hovered {
  &::after {
    width: 100%;
  }
}
